/* Global */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;  /* Centre le contenu horizontalement */
    align-items: center;      /* Centre le contenu verticalement */
    height: 100vh;            /* Fait en sorte que le body occupe toute la hauteur de l'écran */
    background-color: #724848;
    margin: 0;                /* Enlève la marge par défaut du body */
}

/* Modal Container */
.modale-formu {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    width: 350px;
    max-width: 100%;           /* S'assure que le formulaire est responsive */
}

/* Heading */
h2 {
    margin-bottom: 25px;
    font-size: 26px;
    color: #333;
    font-weight: 600;
}

.gras {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 34, 34);
    font-weight: bold;
    text-align: center;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.form-group p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Radio buttons */
input[type="radio"] {
    margin-right: 10px;
}

/* Select Input */
.select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #333;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    transition: border-color 0.3s, background-color 0.3s ease;
}

.select:hover {
    border-color: #28a745;
    background-color: #f8f8f8;
}

.select:focus {
    outline: none;
    border-color: #218838;
    background-color: #e7f5e2;
}

/* Buttons */
button {
    background-color: #28a745;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}


.buttonAccueil {
    position: absolute;
    bottom: 20px; /* Distance depuis le bas de la page */
    left: 50%; /* Positionnement horizontal */
    transform: translateX(-50%); /* Centrer le bouton horizontalement */
    padding: 10px 20px; /* Taille intérieure */
    font-size: 1.2rem; /* Taille du texte */
    color: white; /* Couleur du texte */
    background-color: #5771a5; /* Couleur de fond */
    border-radius: 8px; /* Coins arrondis */
    cursor: pointer; /* Curseur interactif */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Ombre portée */
  }
  
  .buttonAccueil:hover {
    background-color: #374e72; /* Couleur plus sombre au survol */
    
  }

/* Mobile Responsiveness */
@media (max-width: 600px) {
    .modale-formu {
        width: 90%;
        padding: 20px;
    }
    
    button {
        font-size: 14px;
    }
}
